<%= simple_form_for(@draft, 
        :url => cancel_draft_finish_url( @draft) ,
        :method => :post,
        :html => {:class => "form-vertical prevent_double_submit form-toggler "   }) do |f| %>
  
     
  <div class="form-actions" style="padding-left:0; text-align:center;">
    <%= f.button :submit , :class => "btn btn-danger", :value=> "Cancel Draft Finalization" %>
  </div>
<% end %>