<div id="wrapper">
	
	<div id="content">
    <!-- sum = 584 + 300px -->
		<div id="content_left" style="width:700px;">
			
			
			  <%= render :partial => "layouts/front_page/article_entry", :locals => {
			    :article => @article 
			  } %>
			
			
			
			<div class="fb-comments" data-href="<%= blog_url(@article).html_safe %>" data-num-posts="30" data-width="700"></div>
		</div>
	
	  <%= render :partial => "layouts/front_page/navigation" %>
    			
    			
		<div class="clear"></div>
		<%#= paginate @articles, :params => {:controller => 'home', :action => 'homepage'} %>
		
		
		<div class="spacer_footer"></div>
	</div>		
  
</div>