<div id="wrapper">
	
	<div id="content">
    <!-- sum = 584 + 300px -->
		<div id="content_left" style="width:700px;">
			
			
			<% @articles.each do |article| %>
			  <%= render :partial => "layouts/front_page/article_entry", :locals => {
			    :article => article 
			  } %>
			<% end %>
			
			
			
			
		</div>
	
	  <%= render :partial => "layouts/front_page/navigation" %>
	  
    			
    			
		<div class="clear"></div>
		<%= paginate @articles, :params => {:controller => 'home', :action => 'homepage'} %>
		
		
		<div class="spacer_footer"></div>
	</div>		
  
</div>